---
import { loadQuery } from "../../sanity/lib/load-query"; // Adjust path based on your project structure
import { eventQuery } from "../../sanity/lib/queries"; // Adjust path based on your project structure

const { data: events } = await loadQuery<(typeof eventQuery)[]>({
  query: eventQuery,
});

console.log("Events", events);
---

<h1>Upcoming Events</h1>
{
  events.length > 0 ? (
    <ul>
      {events.map((event) => (
        <li>
          <h2>
            <a href={`/events/${event.slug}`}>{event.title}</a>
          </h2>
          <p>Date: {new Date(event.eventDate).toLocaleDateString()}</p>
          <p>Location: {event.location}</p>
          {event.image && (
            <img src={event.image} alt={event.title} width="200" />
          )}
          <br />
          <a href={event.ticketUrl} target="_blank" rel="noopener noreferrer">
            Get Tickets
          </a>
        </li>
      ))}
    </ul>
  ) : (
    <p>No upcoming events.</p>
  )
}
