---
import { fetchIssuedTickets } from "../api/tickets";
import { loadQuery } from "../../sanity/lib/load-query";
import { homePageQuery } from "../../sanity/lib/queries";
import Layout from "../layouts/Layout.astro";
import ReservationButton from "../components/ReservationButton.astro";
import DividerVenue from "../assets/divider-venue.astro";
import DividerGallery from "../assets/divider-gallery.astro";
import DividerFooter from "../assets/divider-footer.astro";

const issuedTickets = await fetchIssuedTickets();

const numberOfTickets = issuedTickets.data.length;
const TOTAL_SEATS = 20;

interface HomePageQuery {
  highlightEvent: {
    title: string;
    eventDate: string;
    location: string;
    image?: string;
    ticketUrl: string;
  };
  planForVisit: {
    title: string;
    editor: string; // Assuming editor is a string (update type if needed)
    description: string;
    slug: string;
    images: {
      image: string; // URL of the image
      altText: string;
    }[];
  };
  linkToGallery: {
    title: string;
    image: string;
    slug: string;
    description: string;
    pictures: {
      url: string;
      altText: string;
    }[];
  };
}

const { data: homePage } = (await loadQuery({ query: homePageQuery })) as {
  data: HomePageQuery;
};
---

<Layout>
  <!-- Highlight Event -->
  <section class="bg-[url(../assets/background-highlight.svg)]">
    <div
      class="grid grid-cols-1 xl:grid-cols-2 p-10 lg:gap-10 justify-items-center mx-auto xl:h-screen"
    >
      <!-- Image -->
      <div
        class="h-80 w-80 md:h-96 md:w-96 lg:w-128 xl:place-self-end xl:self-center relative isolate overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-80 sm:pt-48 lg:pt-80 lg:h-128 group"
      >
        <!-- Animated Frame -->
        <div
          class="absolute inset-0 z-10 rounded-2xl border-8 border-transparent animate-glow"
        >
        </div>

        {
          homePage.highlightEvent.image && (
            <img
              src={homePage.highlightEvent.image}
              alt={homePage.highlightEvent.title}
              class="absolute inset-0 -z-10 size-full object-cover"
            />
          )
        }
      </div>
      <!-- Event Details -->
      <div
        class="flex flex-col justify-center md:max-w-96 xl:place-self-start xl:self-center lg:max-w-128 text-zinc-100"
      >
        <h2>
          {homePage.highlightEvent.title}
        </h2>
        <p class="text-lg lg:text-xl mt-4">
          Date: {
            new Date(homePage.highlightEvent.eventDate).toLocaleDateString()
          }
        </p>
        <p class="text-lg lg:text-xl mt-2">
          Location: {homePage.highlightEvent.location}
        </p>
        {
          homePage.highlightEvent.ticketUrl &&
            (numberOfTickets < TOTAL_SEATS ? (
              <ReservationButton
                url={homePage.highlightEvent.ticketUrl}
                size="lg"
              />
            ) : (
              <p class="mt-4 px-4 py-2 bg-amber-200">
                Table reservation is closed for this event. Tables are available
                first come first serve upon arrival.
              </p>
            ))
        }
      </div>
    </div>
  </section>

  <!-- Plan for your visit Section -->
  <section class="bg-red-100">
    <DividerVenue />
    <div
      class="container p-10 xl:p-20 mx-auto xl:h-screen flex flex-col justify-center"
    >
      <div class="flex flex-col items-center pb-8">
        <h2>
          {homePage.planForVisit.title}
        </h2>
        <p class="mt-2 text-lg/8">
          {homePage.planForVisit.description}
        </p>
      </div>
      <div>
        <article
          class="mx-auto relative isolate lg:w-3xl xl:h-120 overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-80 sm:pt-48 lg:pt-80"
        >
          <img
            alt={homePage.planForVisit.images[0].altText}
            src={homePage.planForVisit.images[0].image}
            class="absolute inset-0 -z-10 size-full object-cover"
          />

          <div
            class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-800 via-gray-900/40"
          >
          </div>

          <h3>
            <a href={homePage.planForVisit.slug} class="group">
              <span class="absolute
              inset-0"></span>
            </a>
          </h3>
        </article>
      </div>
    </div>
  </section>

  <!-- Link To Gallery Section -->
  <section>
    <DividerGallery />
    <div
      class="container p-10 xl:p-20 mx-auto xl:h-screen flex flex-col justify-center"
    >
      <div class="flex flex-col items-center pb-8">
        <h2>
          {homePage.linkToGallery.title}
        </h2>
        <p class="mt-2 text-lg/8">
          {homePage.linkToGallery.description}
        </p>
      </div>
      <div>
        <article
          class="mx-auto relative isolate lg:w-3xl xl:h-120 overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-80 sm:pt-48 lg:pt-80"
        >
          <img
            alt={homePage.linkToGallery.pictures[0].altText}
            src={homePage.linkToGallery.pictures[0].url}
            class="absolute inset-0 -z-10 size-full object-cover"
          />
          <div
            class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40"
          >
          </div>
          <h3>
            <a href={homePage.linkToGallery.slug} class="group">
              <span class="absolute inset-0"></span>
            </a>
          </h3>
        </article>
      </div>
    </div>
  </section>
  <DividerFooter />
</Layout>
