---
import { loadQuery } from "../../sanity/lib/load-query";
import { footerQuery } from "../../sanity/lib/queries";

type FooterQuery = {
  socialMedia: { url: string; iconUrl: string; platform: string }[];
  copyright: string;
  partners: { url: string; name: string }[];
};

const { data: footer } = await loadQuery<FooterQuery>({ query: footerQuery });
---

<footer class="bg-[#010201] text-zinc-100 py-12 text-sm mt-4 lg:mt-0 flex">
  <div
    class="container mx-auto flex flex-col-reverse lg:flex-row items-start justify-between px-6"
  >
    <!-- Copyright -->
    <div class="flex flex-col gap-4">
      <p>{footer.copyright}</p>
      <p>Made in SF with 💜</p>
    </div>

    <!-- Partner Links -->
    <div class="mt-4 lg:mt-0 flex space-x-4 flex-col">
      <p class="mb-2">Partners</p>
      {
        footer.partners.map((partner) => (
          <a
            href={partner.url}
            target="_blank"
            rel="noopener noreferrer"
            class="text-violet-300 hover:text-white"
          >
            {partner.name}
          </a>
        ))
      }
    </div>

    <!-- Contact Us -->
    <!-- Social Media Links -->
    <div class="flex flex-col mt-2 lg:mt-0">
      <a href={`/contact`} class="text-violet-300 hover:text-white text-lg">
        Contact us
      </a>
      <div class="flex flex-col gap-2 lg:mt-4">
        <p>Stay connected</p>
        <ul>
          <li class="flex gap-2">
            {
              footer.socialMedia.map((social) => (
                <a href={social.url} target="_blank" rel="noopener noreferrer">
                  <img
                    src={social.iconUrl}
                    alt={social.platform}
                    class="w-6 h-6"
                  />
                </a>
              ))
            }
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
