---
import { navigationQuery } from "../../sanity/lib/queries";
import { loadQuery } from "../../sanity/lib/load-query";

export interface NavigationItemType {
  title: string;
  linkType: "internal" | "external";
  slug: string;
  url?: string;
}
export interface NavigationType {
  items: NavigationItemType[];
}

const { data: navigation } = await loadQuery<NavigationType>({
  query: navigationQuery,
});
---

<nav
  class="w-auto flex lg:justify-center p-8 bg-gray-800 text-white sticky top-0 z-10"
>
  <ul class="flex flex-wrap gap-20 p-4">
    {
      navigation.items.map((item, index) => (
        <li key={index}>
          {item.linkType === "external" ? (
            <a href={item.slug} target="_blank">
              {item.title}
            </a>
          ) : (
            <a href={item.slug === "home" ? "/" : `/${item.slug}`}>
              {item.title}
            </a>
          )}
        </li>
      ))
    }
  </ul>
</nav>
